* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    /* border: solid black; */
}

.header {
    font-size: 24px;
    font-weight: bold   ;
    background-color: yellow;
    padding: 8px;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 630px;
    align-items: center;
    
}

.grid {
    border-radius: 6px;
    display: grid;
    height: 500px;
    width: 500px;
    border: solid black;
}

.navbar {
    border-radius: 6px;
    display: flex;
    background-color: grey;
    width: 500px;
    margin-top: 8px;
    padding: 20px 0px 20px;
    justify-content: space-around;
    margin: 12px;
}

.btn {
    padding: 8px;
    width: 100px;
}

.btn.color{
    width: 50px;
    height: 50px;
    background-color: aqua;
    border: 0px;
    border-radius: 50%;
}


.footer {
    background-color: yellow;
    text-align: center;
    font-size: medium;
    padding: 12px;
}

.boardSize {
    display: flex;
    width: 500px;
    margin: 12px;
    justify-content: space-between;
}

.size-btn{
    padding: 12px;
    border-radius: 6px;
    border: solid black 1px;
}