* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    /* border: solid black; */
}

.header {
    font-size: 24px;
    font-weight: bold   ;
    color: white;
    background-color: black;
    padding: 8px;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 630px;
    align-items: center;
    
}

.grid {
    border-radius: 6px;
    display: grid;
    height: 500px;
    width: 500px;
    border: solid black;
    background-color: white;
}

.navbar {
    border-radius: 6px;
    display: flex;
    background-color: grey;
    width: 800px;
    margin-top: 8px;
    padding: 20px 0px 20px;
    justify-content: space-around;
    margin: 12px;
}

.btn {
    padding: 8px;
    width: 100px;
    border-radius: 6px;
    border: 0px;
}

/* Color button */
.btn.color{
    width: 50px;
    height: 50px;
    background-color: grey;
    /* border-radius: 50%; */
}
input::-webkit-color-swatch {
    border: none;
}

input[type="color"] {
    /* -webkit-appearance: none; */
    border: none;
}
input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0px;
}
input[type="color"]::-webkit-color-swatch {
    border: none;
}
/* End of color button */


.footer {
    background-color: black;
    text-align: center;
    font-size: medium;
    padding: 12px;
    color: white;
}

.boardSize {
    display: flex;
    width: 500px;
    margin: 12px;
    justify-content: space-between;
}

.size-btn{
    padding: 12px;
    border-radius: 6px;
    border: solid black 0px;
}